<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Abaut Us</title>
  </head>
  <body>
    <style>
      body {
        background: url(/static/img/fon2.jpg) no-repeat;
        background-size: cover;
      }
    </style>
    <center><h1>О сайте</h1></center>
    <h2>практикуюсь в html</h2>
    <p>
      <strong>Такое ебе занятие этот html</strong><br /><em
        >С Python было проще!</em
      >
    </p>
    <hr />
    <ol>
      <h3>Обо мне</h3>
      <li>Мне 32</li>
      <li>Я работаю</li>
      <li>У меня 2 потрясающих дочки!</li>
    </ol>
    <hr />
    <table>
      <caption>Моя первая табличка</caption>
      <tr>
        <th>Hello</th>
        <th>Hello2</th>
        <th>Hello3</th>
      </tr>
      <tr>
        <td>wow</td>
        <td>wow</td>
        <td>wow</td>
      </tr>
      <tr>
        <td>my first</td>
        <td>my first</td>
        <td>my first</td>
      </tr>
    </table>
    <hr />
    <center>
      <img
        src="static/img/test_img.jpg"
        alt="Я люблю кодить)"
        width="100"
        height="100"
      /><br />
    </center>
    <a href="index.html"> back</a>
  </body>
</html>
