body {
	padding: 0;
	margin: 0;
	font-family: 'Anton', sans-serif;
	color: black;
	font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
	padding: 0;
	margin: 0;
	text-transform: uppercase;
}

ul, li {
	display: block;
	padding: 0;
	margin: 0;
}

body {
    background: linear-gradient(rgb(100, 149, 237), white);
}

.conteiner {
    width: 1170px;
    margin: auto;
}

.header {
    background: url('../img/header.jpg') no-repeat center top / cover;    /* Подключаем картинку в шапке сайта */
    font-size: 30px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    box-shadow: 10px 10px 10px rgb(49, 45, 45);
}

header a {
    color: rgb(100, 149, 237);   /* Цвет ссылок делаем белый */
    background: linear-gradient(rgb(0, 0, 0), rgb(38, 59, 102));
    margin-left: 30px;
    border-radius: 10px;
    box-shadow: 10px 10px 10px rgb(100, 149, 237);
}

header a:hover {
    color: black;
    background: linear-gradient(rgb(34, 30, 30), white);
    box-shadow: 10px 10px 10px rgb(41, 54, 78);
    transition: 0.5s;
}

.menu {
    display: flex;  /* делаем в 1 строку */
    margin-top: 90px; /* Опустил ссылки меню */
}

.menu li a {
    font-family: 'Pangolin', cursive;
    text-transform: uppercase;  /* Делаем все буквы заглавными */
    text-decoration: none;   /* Убираем подчеркивания */
    font-size: 30;
}

.menu li {
    margin-right: 60px;
}

.nav {
    display: flex;
}

main {
    width: 1170px;
    margin: auto;
}

.content {
    background: url(../img/main_header.jpg) no-repeat center top / cover;
    min-height: 500px;
    margin-top: 10px;
    border-radius: 25px;
    box-shadow: -7px 7px 7px 7px cadetblue;
}

.text-box {
    background: url(../img/fon_text.jpg) no-repeat center top / cover;
    margin-right: 70px;
    margin-left: 70px;
    border-radius: 25px;
}

.text {
    display: flex;
    text-transform: uppercase;
    margin-left: 35px;
    margin-right: 35px;
}
